{{ template "default" . }}
{{ define "special" }}
	{{/* Dashboard Core */}}
	<link href="/assets/css/dashboard.css" rel="stylesheet" />
	<script src="/assets/js/dashboard.js"></script>
	{{/* c3.js Charts Plugin */}}
	<link href="/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
	<script src="/assets/plugins/charts-c3/plugin.js"></script>
	{{/* Google Maps Plugin */}}
	<link href="/assets/plugins/maps-google/plugin.css" rel="stylesheet" />
	<script src="/assets/plugins/maps-google/plugin.js"></script>
	{{/* Input Mask Plugin */}}
	<script src="/assets/plugins/input-mask/plugin.js"></script>
{{ end }}
{{ define "content" }}{{ end }}
